.rect {
  width: 200px;
  height: 300px;
  background-color: aqua;
  animation-name: sizeScale;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 3;
  animation-direction: normal;
  animation-fill-mode: forwards;

}

@keyframes sizeScale {
  0% {
    width: 200px;
    opacity: 0;
  }

  100% {
    width: 300px;
    opacity: 1;
  }
}
